<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Page of database</title>
    </head>
    <body>
        <h3>Students in database</h3>
        <table>
            <thead><th>Number</th><th>Name</th><th>Surname</th><th>Birth date</th><th>Email</th></thead>
            {{range . }}
                <tr>
                    <td>{{.Number}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.Surname}}</td>
                    <td>{{.DateBirth}}</td>
                    <td>{{.Email}}</td>
                </tr>
            {{end}}
        </table>
    </body>
</html>