<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Entry page</title>
    </head>
    <body>
        <h3>You should login in the system</h3>
        <form method="POST">
            <label>Login</label><br>
            <input type="text" name="login" /><br><br>
            <label>Password</label><br>
            <input type="password" name="password" /><br><br>
            <input type="submit" value="Send" /><br><br>
	        <label>{{ .Error}}</label>
	 </form>
    </body>
</html>